<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= <div class="btn btn-default btn-sm" role="button"> %>
  <%= link_to 'Back', songs_path %>
<%= </div> %>
