<div class="navbar">
    <h1 class="pull-right philosopher-heading">Dreamix</h1>
    <%#<% if member.social_media_connected do %>
      <%#<%= link_to(image_tag(member.social_profile image), { :controller => :members, :action => :show, :id => self.id }) %>
    <%#<% else %>
    <ul class="list-inline">
      <li class="display-album-art"><%= link_to image_tag("monk1.jpg", {class: "menu_icon", size: "50"}), {:controller => :members, :action => :show, :id => session[:member_id]}, class: "btn btn-sm img-responsive pull-left" %> <%#, :id => self.id }%></li>
      <!-- <li><%# link_to image_tag("../assets/images/monk1.jpg"), "/members/index" %></li> -->
    </ul>
    <%#<% end %>
</div>

<hr>

<%# <%= image_tag @song.image %>
<%= image_tag("Blackstar.jpg", {class: "img-responsive col-lg-offset-3", size: "550"}) %>

<div class='container display-text-wrapper'>
  <div class='col-lg-11 col-md-offset-2'>
    <div class='col-xs-6 col-md-6'>

      <p class="display-text">
        <strong>Artist:</strong>
        <%= @song.artist %>
      </p>

      <p class="display-text">
        <strong>Title:</strong>
        <%= @song.title %>
      </p>
    </div>
    <div class='col-xs-6 col-md-6'>

      <%# TODO: insert image_tag "elipsis jpg" %>
      <%= link_to "Info", { :controller => "stream", :action => "index" }, class: "btn btn-default btn-sm" %>

      <%# TODO: insert image_tag "heart jpg" %>
      <%= link_to "Love", { :controller => :favorites, :action => "create", :id => @song.id }, class: "btn btn-default btn-sm" %>

      <%# TODO: insert image_tag "share jpg" %>
      <%= link_to "Share a Song", { :action => "new" }, class: "btn btn-default btn-sm" %>
    </div>
  </div>
  <div class='row music-player-wrapper'>
    <%# play songs queued in stream %>
    <%# @stream.songs.each do |song|
          add song media to the player
        end
    %>
    <%= audio_tag(@song.url, { preload: true, controls: true, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 music-player" }) %>
  </div>
</div>
